@charset "UTF-8"; /* 文字コードの指定 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700&display=swap'); /* Google Fonts用のCSSを読み込み */

/* Base
------------------------------------------------------------*/

html {
    font-size: 62.5%;
}

body {
    font-family: "Noto Sans JP", "游ゴシック", YuGothic, "メイリオ", Verdana, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #1E1E20;
}

a,
a:hover {
    text-decoration: none;
}

a:hover {
    color: #fff;
    background-color: #1E1E20;
}


/* 複数箇所で使いまわす指定
------------------------------------------------------------*/

.text-center {
    text-align: center;
}

.uppercase {
    text-transform: uppercase;
}


h2 {
    margin: 0 0 80px;
    font-size: 4.8rem;
    font-weight: 300;
    color: #BBC3C6;
    letter-spacing: 0.5rem;
}

/* ヘッダー部分
------------------------------------------------------------*/

.header {
    padding-bottom: 100px;
    background-color: #FFFFFF;
    z-index: 100;
}

/*// ハンバーガーメニューボタン*/
.nav-button {
    display: block;
    align-items: center;
    justify-content: center;
    width: 32px; /* 幅 */
    height: 32px; /* 高さ */
    padding: 20px; /* 要素の内側の余白 */
    margin: 0 0 0 auto; /* 要素の外側の余白 */
    font-size: 36px; /* フォントサイズ */
    line-height: 0; /* アイコンフォントの行の高さ */
    color: #BBC3C6; /* 文字色 */
    cursor: pointer;
    margin-right: 30px;
}

.nav-button :hover {
    background-color: #1E1E20;
    padding: 20px;
}

/*// SPナビゲーション*/

.sp-nav {
    position: absolute;
    top: 6rem;
    left: 0;
    display: none;
    z-index: 1000;
    width: 100%;
    padding: 4rem;
    font-size: 2.4rem;
    text-align: center;
    background-color: rgba(255, 255, 255, .8);

    box-sizing: border-box;
}

.sp-nav-list {
    padding: 0;
    margin: 0;
    list-style: none;

}
.sp-nav-list li {
        margin-bottom: 4rem;
    }
    
.sp-nav-list a {
    margin-bottom: 4rem;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 80px;
    font-weight: 400;
    color: #BBC3C6;
    }
    
    
/* プロフィール部分
------------------------------------------------------------*/

.profile {
    background-color: #FFFFFF;
}

.profile .container {
    display: flex;
    justify-content: space-between;
    width: 64%;
    margin: 0 auto;
}

.profile-name {
    margin: 0;
    padding: 0 0 20px 0;
    font-size: 2.0rem;
    font-weight: 500;
    letter-spacing: 0.3rem;
    line-height: normal;
    color: #BBC3C6;
}

.profile-name span {
    display: block;
    font-size: 5.6rem;
    letter-spacing: 0.5rem;
    color: #1E1E20;
}

.profile-introduction {
    margin: 0 0 60px;
}

.profile-image {
    margin: 60px 0 0 40px;
    border-radius: 50%;
}


/* Moreボタン、メールボタン、SNSボタン部分
------------------------------------------------------------*/

ul.contact {
    padding: 0;
    margin-bottom: 180px;
}

@media (max-width:768px) { 
    .contact {
     width: max-content;
}
}


ul.contact li {
    display: inline-block;
    margin-right: 20px;
    vertical-align: middle;
}

ul.contact a {
    display: block;
    width: 40px;
    height: 40px;
    padding: 10px;
    font-size: 3.2rem;
    text-align: center;
    line-height: 1.1;
    color: #fff;
    border-radius: 50%;
    background-color: #BBC3C6;
}

ul.contact a:hover {
    background-color: #1E1E20;
}

ul.contact li.button-more {
    margin-right: 40px;
}

ul.contact li.button-more a {
    width: 200px;
    height: 60px;
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 1.4;
    background-color: #1e1e20;
    border-radius: 30px;
    box-sizing: border-box;
}

ul.contact li.button-top a {
    width: 200px;
    height: 60px;
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 1.4;
    background-color: #962715;
    border-radius: 30px;
    box-sizing: border-box;
}

/* Works部分
------------------------------------------------------------*/

.works {
    padding: 80px 0 180px;
    background-color: #FFFFFF;
}

.works .container {
    max-width: 1080px;
    margin: 0 auto;
}

.works .container::after {
    display: block;
    content: "";
    clear: both;
}

.works-box {
    position: relative;
    float: left;
    width: 31%;
    margin: 0 2% 40px 0;
    color: #555;
    background-color: #fff;
    box-shadow: -16px 20px 16px rgba(0, 0, 0, 0.04);
}

.works-box:nth-of-type(3n) {
    margin-right: 0;
}

.works-box img {
    max-width: 100%;
    vertical-align: bottom;
}

.works-box-inner {
    height: 120px;
    padding: 20px;
    box-sizing: border-box;
}

.works-box-inner h3 {
    margin: 0;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.5;
}

.works-box-inner span {
    position: absolute;
    bottom: 20px;
    font-size: 1.2rem;
    color: #BBC3C6;
}

/* Skills部分
------------------------------------------------------------*/

.skills {
    padding: 80px 0 120px;
    background-color: #fff;
}

.skills .container {
    display: flex;
    justify-content: space-between;
    max-width: 1080px;
    margin: 0 auto;
}

.skills-box {
    width: 32%;
    padding: 40px;
    color: #fff;
    box-sizing: border-box;
    box-shadow: -12px 10px 12px rgba(0, 0, 0, 0.25);
}

.color-a {
    background-color: #962715;
}

.color-b {
    background-color: #962715;
}

.color-c {
    background-color: #962715;
}

.skills-box-heading {
    width: 100%;
    margin-bottom: 20px;
}

.skills i {
    float: left;
    padding-top: 16px;
    margin: 0 20px 0 0;
    font-size: 4.4rem;
    color: #fff;
}

.skills h3 {
    margin: 0;
    font-size: 3.2rem;
    font-weight: 400;
}

.skills p {
    line-height: 2;
}


/* 経歴部分
------------------------------------------------------------*/

/*学歴*/
.edu-container {
    max-width: 1080px;
    margin: 0 auto;
}
.edu-box {
    margin: 3% 10% 5% 10%;;
    color: #555;
    background-color: #fff;
    box-sizing: border-box;
    box-shadow: 16px 16px 16px rgba(0, 0, 0, 0.12);
    padding: 10%;
}

.edu-box p {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 1.6rem;
    font-weight: 300;
    color: #1e1e20;
    margin: auto;
    padding-bottom: 100px;
}

.edu-box:last-child {
    padding-bottom: 0;
}

.date {
    float: left;
    padding-right: 83px;
}

/*社歴*/

.Career {
    padding-bottom: 195px;
}
.car-container {
    clear: both;
    max-width: 1080px;
    margin: 0 auto;
}

.text-center-uppercase-car {
    margin: 250px 0 80px 0;
    font-size: 4.8rem;
    font-weight: 300;
    color: #BBC3C6;
    letter-spacing: 0.5rem;
    text-align: center;
}
.car-box {
    margin: 3% 10% 0% 10%;
    color: #555;
    background-color: #fff;
    box-sizing: border-box;
    box-shadow: 16px 16px 16px rgba(0, 0, 0, 0.12);
    padding: 10% 10% 0 10%;
}

.car-box p {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 1.6rem;
    font-weight: 300;
    color: #1e1e20;
    margin: auto;
    padding-bottom: 100px;
}

.car-box:last-child {
    padding-bottom: 0;
}

.company-date {
    float: left;
    padding-right: 83px;
}

.company-name {
     float: left;
     padding-right: 83px;
     width: 22%
}
.task-name {
}

.last {
  padding: 0 0 0 0;
  text-align: right;
  margin: 0;
}


/* フッター部分
------------------------------------------------------------*/

footer {
    padding: 20px 0;
    font-size: 1.4rem;
    font-weight: 300;
    text-align: center;
    color: #fff;
    background-color: #bbc3c6;
}

